@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-bottom: 1rem;
}
